%no-select
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

%basic-bloc
  height: calc(80vh - 60px)
  background-color: $dark-opac
  border-radius: 20px
  padding: 30px
  box-shadow: 0 0 10px #111

%base-header-footer
  width: 100vw
  min-width: 100vw
  height: 10vh
  text-align: center